{% extends "base.html" %}

{% block titulo %}
<title>Coderhouse 47780 - Emplados</title>
{% endblock titulo %}

{% block contenido %}
<h3>Sistema de Empleados</h3>
<a href="{% url 'crear_empleado' %}">Crear empleado</a>
<br>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for estudiante in object_list %}
    <tr>
      <td>{{ empleado.id }}</td>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellido }}</td>
      <td>
        <a href="{% url 'ver_empleado' empleado.id %}">Ver</a>
      </td>
      <td>
        <a href="{% url 'editar_empleado' empleado.id %}">Editar</a>
      </td>
      <td>
        <a href="{% url 'eliminar_empleado' empleado.id %}">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}